html, body {
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    color: hsl(215, 51%, 70%);
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.avatar-img {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 5%;
    float: left;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.card-container {
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    box-shadow: 10px 7px 5px 12px #0c1729;
    height: 500px;
    padding: 25px;
    position: relative;
    margin: 0 auto;
    top: 10%;
    width: 310px;
    box-sizing: border-box;
}

/* Descendant Combinator and Class seclectors */
div.card-container a {
    color: white;
}

.card-container a:hover {
    color: hsl(178, 100%, 50%);
}
/* div.card-container: will select divs with the class specificed after the dot. In this case, its card-container */
/* Descendant combinator is when the descendants of the first element specified is selected, in this case, it is divs with class card-container */
/* Of course, the div does not need to be specified if you want to target any element with the class 'card-container': that's why the above
   code works */

.eth-icon {
    height: 13px;
    width: 9px;
}

.eth-amount {
    color: hsl(178, 100%, 50%);
    margin-right: 35%;
    margin: 0 35% 0 1%;
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    border-top: 1px solid hsl(215, 32%, 27%);
}

main {
    height: inherit;
}

.nft-img-container {
    position: relative;
    width: 260px;
    height: 260px;
    
}

.nft-img-container img {
    width: 260px;
    border-radius: 15px;
}

.nft-img-container .nft-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: none;
    color: #FFF;
}

.nft-img-container:hover .nft-img-overlay {
    display: block;
    background: hsla(178, 100%, 50%, 0.438);
}

.nft-info {
font-size: 16px;
}

p {
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}

.time-icon {
    height:14px;
    width: 14px;
}

.nft-img-container .after .view-icon {
    height: 20%;
    width: 20%;
    margin-top: 40%;
    margin-left: 40%;
}
